<mat-progress-bar *ngIf="isLoading" mode="query"></mat-progress-bar>
<div class="toolbar" role="banner"></div>

<div class="content" role="main">
  <div class="card highlight-card card-small">
    <svg id="rocket"
         xmlns="http://www.w3.org/2000/svg"
         width="101.678"
         height="101.678"
         viewBox="0 0 101.678 101.678">
      <g id="Group_83"
         transform="translate(-141 -696)">
        <circle id="Ellipse_8"
                cx="50.839"
                cy="50.839"
                r="50.839"
                transform="translate(141 696)"
                fill="#dd0031"/>
        <g id="Group_47"
           transform="translate(165.185 720.185)">
          <path id="Path_33"
                d="M3.4,42.615a3.084,3.084,0,0,0,3.553,3.553,21.419,21.419,0,0,0,12.215-6.107L9.511,30.4A21.419,21.419,0,0,0,3.4,42.615Z"
                transform="translate(0.371 3.363)"
                fill="#fff"/>
          <path id="Path_34"
                d="M53.3,3.221A3.09,3.09,0,0,0,50.081,0,48.227,48.227,0,0,0,18.322,13.437c-6-1.666-14.991-1.221-18.322,7.218A33.892,33.892,0,0,1,9.439,25.1l-.333.666a3.013,3.013,0,0,0,.555,3.553L23.985,43.641a2.9,2.9,0,0,0,3.553.555l.666-.333A33.892,33.892,0,0,1,32.647,53.3c8.55-3.664,8.884-12.326,7.218-18.322A48.227,48.227,0,0,0,53.3,3.221ZM34.424,9.772a6.439,6.439,0,1,1,9.106,9.106,6.368,6.368,0,0,1-9.106,0A6.467,6.467,0,0,1,34.424,9.772Z"
                transform="translate(0 0.005)"
                fill="#fff"/>
        </g>
      </g>
    </svg>

    <span>{{ title.toUpperCase() }}</span>
  </div>

  <div class="exhibits">
    <mat-form-field class="search">
      <input matInput [disabled]="isLoading" (keyup)="applyFilter($event.target.value)" placeholder="Поиск">
    </mat-form-field>

    <mat-table [dataSource]="dataSource" matSort matSortDisableClear class="mat-elevation-z8">
      <ng-container *ngFor="let column of columnProps" [matColumnDef]="column.name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.title}}</mat-header-cell>
        <mat-cell *matCellDef="let exhibit" [ngClass]="column.cellClass || ''">
          {{column.render ? column.render(exhibit[column.name]) : exhibit[column.name]}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<router-outlet></router-outlet>
